<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>sinSimple</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css" />
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="/javascript/sinSimple.js"></script>
</head>
<body>
  <h3>Weather</h3>
    <div id="container">
<!--       <div id="temp"></div>
      <div id="reaction"></div> -->
    </div>
    <div id="box"></div>
</body>
</html>