<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>sinSimple</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <script type="text/javascript" src="/javascript/sinSimple.js"></script>
    <!-- Le styles -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
<!--     <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png"> -->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Weather For Two Wheels</a>
          <div class="nav-collapse collapse">
    <!--         <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
            <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Email">
              <input class="span2" type="password" placeholder="Password">
              <button type="submit" class="btn">Sign in</button>
            </form> -->
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit clearfix">
        <img class= "moto btn btn-primary btn-large" src="/images/motorcycle-icon-md.png"></img>
        <h1 id="box">Weather Or Not?</h1>

        <!-- <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p> -->
      </div>
      <div id="rain"></div>
      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <div class="alpha">
            <h2 class="day0"></h2>
            <p><a class="btn detail" href="#">View details &raquo;</a></p>
          </div>
        </div>
        <div class="span4">
          <div class="beta">
            <h2 class="day1"></h2>
            <p><a class="btn" href="#">View details &raquo;</a></p>
          </div>
       </div>
        <div class="span4">
          <div class="alpha">
            <h2 class="day2"></h2>
            <p><a class="btn" href="#">View details &raquo;</a></p>
          </div>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; fayeishere 2013</p>
      </footer>

    </div> <!-- /container -->
<!-- trying to make rain -->
  <script type="text/javascript">
    function createdrop(){
    var placement = Math.floor(Math.random()*($("#rain").width() -50)); // randomly selects a place for the drop
    var fallHeight = $("#rain").height() - 70;  // calculates the fall distance

    // creates the img tag for the drop
    // the random "placement" variable is also used to create a unique ID for the drop
    $('.row').append('<img src="images/drop.png" width="50" height="50" id="drop'+placement+'" class="drop"/>')
        //////////  animate the movement of the drop
        $("#drop"+placement).css({top:"-50px", left:placement+"px"});
        $("#drop"+placement).animate({top:"-40px", height:"90px", opacity: ".2"}, 1000);
        $("#drop"+placement).animate({top:"-10px", height:"50px",  opacity: ".8"}, 200);
        $("#drop"+placement).animate({top:fallHeight+"px", opacity: ".0"}, 1000, function(){
        $("#drop"+placement).remove();  //removes drop after animation is complete
        });
        //////////  end animate the movement of the drop
  }

   // setInterval(createdrop, 1000);  // sets the rate the drops will appear. Smaller number = more drops.

    $(".moto").click(function() {
      $('.moto').effect( "bounce", "slow" );
    });
  </script>
    <!-- Le javascript

    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/bootstrap/js/bootstrap.js"></script>

  </body>
</html>
