/*
#container {
  position: absolute;
  height:100px;
  width:150px;
  background-color:#FF0000;
  border-radius:5px;
}*/
#box {
  /*float: left;*/
/*  height:150px;
  width:150px;
  background-color:#FF0000;
  border-radius:5px;*/
}
img {
  float: right;
  height:200px;
  width:200px;
}
h2 {
  border-radius: 2px;
  border-color: #000000;
  border-width: 3px;
}